doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title 404
        link(href='/assets/styles.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto:300', rel='stylesheet')
    body
        include header
        h1 404 Page not found!
        a(href='/', id='back/') Назад на главную
        script(src='/assets/script.js')
