doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title 404
        include links
    body
        include header
        h1 404 Page not found!
        a(href='/', id='back/') Назад на главную
        script(src='/assets/script.js')
