header
    a.logo(href='/') Shadowswall
    .reg_log
        if (user)
            ol.log
                a#log.invis(href='/login') Войти
            ol.log
                a#reg.invis(href='/register') Регистрация
            ol.log
                a#pro.vis(href='/profile') Профиль #{user}
        else
            ol.log
                a#log.vis(href='/login') Войти
            ol.log
                a#reg.vis(href='/register') Регистрация
            ol.log
                a#pro.invis(href='/profile') Профиль #{user}
