header
    a.logo(href='/') Shadowswall
    .reg_log
        ol#li-log
            a#log(href='/login') Войти
        ol#li-reg
            a#reg(href='/register') Регистрация
        ol#li-pro
            a#pro(href='/profile') Профиль