doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Shadowswall
        include links
    body
        include header

        #main
            .search_bar
                form.search_form(method="post", action="/", name="search")
                    label#search_label(for="search_input") Поиск
                    input#search_input(type="search", name="search_req")
                    p#askingfor Я ищу:
                    ul.radio-ul(type="none")
                        li.radio-li
                            input.radio#r1(name="radio-type", value="1", type="radio", checked="true")
                            label.label_radio(for="r1") Работу
                        li.radio-li
                            input.radio#r2(name="radio-type", value="2", type="radio")
                            label.label_radio(for="r2") Работника

                    ul(type="none")
                        li
                            input.radio#c1(type="checkbox", value="1", name="check_")
                            label.label_check(for="c1") Высшее образование
                        li
                            input.radio#c2(type="checkbox", value="2", name="check_")
                            label.label_check(for="c2") Полный день
                        li
                            input.radio#c3(type="checkbox", value="3", name="check_")
                            label.label_check(for="c3") Стаж больше 10 лет
                        li
                            input.radio#c4(type="checkbox", value="4", name="check_")
                            label.label_check(for="c4") Возраст больше 10 лет


            #section

        //#night-mode(onclick="enableNightMode()")
        script(src='/assets/script.js')
