doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Регистрация
        include links
    body
        include header
        h1#form_h Регистрация
        a#alter(href='/login') Войти

        form.reg_form(method='post', action='')
            .mail_container
                label#email_label(for='email') Электронная почта:
                br
                input#email(type='email', name='login', placeholder='e-mail@domain.com', required=true)
            .pass_container
                label#pass_label(for='pass') Пароль:
                br
                input#pass(type='password', name='password', pattern='(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,32}',
                title="8-32 латинских буквы(минимум одна заглавная и одна строчная) и цифры", placeholder='qwerty', required=true)
                img#visible(src="/assets/visible.svg")
            button#submit(type='submit') Подтвердить!
        script(src='/assets/script.js')
