* {
    margin: 0;
    padding: 0;
    --mainColor: #f26065;
}

html {
    font-family: 'Roboto', sans-serif;
    /*background-color: #f8f8f8;*/
    background-color: #fcfcfc;
}

::selection {
    background-color: rgba(0, 0, 0, 0.1);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--mainColor);
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.35);
    z-index: 10;
}

a.logo {
    position: relative;
    top: 14%;
    margin-left: 17%;
    font-weight: lighter;
    color: #fff;
    font-size: xx-large;
}

h1 {
    position: fixed;
    top: 170px;
    width: 100%;
    text-align: center;
}

a {
    position: fixed;
    top: 70px;
    color: #7b7b7b;
    text-decoration: none;
}

a#back\/ {
    width: 100%;
    text-align: center;
    top: 250px;
}

a#err {
    top: 100px;
    left: 70px;
}

.reg_form {
    position: fixed;
    margin-top: 250px;
    left: 41%;
    width: 18%;
}

#form_h {
    text-align: center;
    width: 100%;
}

#alter {
    width: 100%;
    text-align: center;
    top: 28%;
    left: 10%;
}

#email_label, #pass_label {
    font-size: larger;
}

button#submit {
    position: relative;
    top: 15px;
    left: 60px;
    width: 150px;
    height: 30px;
    background-color: var(--mainColor);
    color: white;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.35);
    outline: 0;
    animation-duration: 1s;
}

button#submit:focus, a#log:focus {
    box-shadow: 0 3px 2px rgba(27, 31, 35, 0.15), inset 3px 3px 5px rgba(27, 31, 35, 0.3);
}

input {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    height: 30px;
    border-radius: 2px;
    border: solid #656564 1px;
    font-size: 16px;
    outline: 0;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.05);
}

input::placeholder {
    color: #999999;
}

input:focus, .resume-form > label > textarea:focus {
    border-color: var(--mainColor);
}

#main {
    margin: 0 auto;
    width: 80%;
}

#section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 34% 0 16.35%;
    top: 80px;
    left: 0;
    position: absolute;
}

.art {
    position: static;
    padding: 10px;
    margin: 10px;
    background: #fff;
    flex-direction: row;
    flex: 1 1000px;
    border-radius: 3px;
    border: 1px solid #BFBFBF;
    box-shadow: 0 3px 22px rgba(27, 31, 35, 0.15);
    cursor: pointer;
    overflow: hidden;
    height: 80px; /*220px*/
    width: 50%; /*700px*/
    transition: height 0.3s ease-out;
}

h2 {
    width: 50%;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0 0 0 20px;
}

.search_bar {
    position: fixed;
    right: 17%;
    top: 90px;
    width: 220px;
    height: 500px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #BFBFBF;
    box-shadow: 0 3px 22px rgba(27, 31, 35, 0.15);
}

label#search_label {
    margin: 15px;
    position: relative;
    top: 10px;
    font-size: large;
}

label.label_check, label.label_radio {
    position: relative;
    bottom: 7px;
    left: 3px;
}

input#search_input {
    width: 200px;
    margin: 20px 10px 10px;
}

input.radio {
    width: 23px;
    height: 23px;
}

p#askingfor {
    margin: 15px 15px 0;
    font-size: large;
    position: relative;
    top: -10px;
}

.radio-li {
    padding: 0;
    margin: 0;
}

.radio-ul {
    margin-top: 0;
}

ul {
    margin: 10px;
}

li {
    margin-top: 10px;
}

img.arrows {
    position: relative;
    top: -145px;
    right: -90%;
    width: 40px;
    height: 40px;
    z-index: 9;
}

.reg_log {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px 17% 20px 20px;
}

#visible {
    position: absolute;
    top: 98px;
    left: 280px;
    width: 20px;
    cursor: pointer;
}

.log {
    display: inline;
    margin-left: 30px;
}

.log:nth-child(3) {
    margin-left: 0;
}

.vis {
    z-index: 1000;
    display: inline;
}

.invis {
    display: none;
}

a#log, a#reg, a#pro {
    position: relative;
    top: 1%;
    color: white;
}

a#log {
    padding: 7px 10px;
    margin-right: -10px;
    color: #231f20;
    background-color: #f8f8f8;
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.35);
}

#errCode {
    position: fixed;
    top: 450px;
    width: 100%;
    text-align: center;
    color: red;
}

.form-res {
    width: 700px;
    position: absolute;
    top: 130px;
    right: 17%;
    margin-bottom: 50px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #BFBFBF;
    box-shadow: 0 3px 22px rgba(27, 31, 35, 0.15);
}

.resume-form > label > span {
    padding: 10px;
}

.resume-form > label > textarea {
    width: 650px;
    height: 250px;
    border-radius: 3px;
    border: 1px solid #656564;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    margin: 10px;
    font-size: 16px;
    outline: 0;
    padding: 8px;
}

.resume-form > #submit {
    margin: 0;
    position: relative;
    top: -3px;
    left: 500px;
}

.prof-inf {
    padding: 10px;
    position: fixed;
    top: 130px;
    left: 17%;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #BFBFBF;
    box-shadow: 0 3px 22px rgba(27, 31, 35, 0.15);
}

.prof-inf > p {
    margin-bottom: 20px;
}

.prof-inf > img {
    position: relative;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    z-index: 10;
    border-radius: 3px;
}

.inp-num {
    width: 150px;
}

select {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 30px;
    border-radius: 2px;
    border: solid #656564 1px;
    font-size: 16px;
    outline: 0;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.05);
}

select:focus {
    border-color: var(--mainColor);
}

option {
    background-color: #f2f2f2;
}

select :nth-child(2n) {
    background-color: #fff;
}

#h-prof {
    top: 80px;
    position: absolute;
}

#bug {
    position: relative;
    top: -7px;
}

@keyframes changingColor {
    0% {background-color: #7FCD51; color: #231f20}
    100% {background-color: var(--mainColor); color: white}
}